<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Sign up</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        {% extends 'base.html' %}

        {% block content %}
            <main>
                <div>
                    <h1>Signup</h1>
                    <form method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button>Signup</button>
                    </form>
                </div>
            </main>
        {% endblock content %}
    </body>
</html>
