<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Projects</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        {% extends 'base.html' %}

        {% block content %}
            <main>
                <div>
                    <h1>My Projects</h1>
                    {% for project in projects %}
                        <table>
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Number of tasks</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>{{ project.name }}</td>
                                    <td>waiting for tasks</td>
                                </tr>
                            {% empty %}
                                <p>You are not assigned to any projects</p>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </main>
        {% endblock content %}
    </body>
</html>
